body{background-color: #eccfab;}
ul{
    cursor: pointer;
}
.newNav {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    color: orangered;
    background-color: eccfab;
    font-size: 20px;
    font-weight: bold;
    
}
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;

}

.leftnav{
    display: flex;
    align-items: center;
    margin-left: 35%;
}



.dropdown{
    color: orangered;
    height: 30px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    
}
ul:hover{
    color: #999999;
    transform: translateY(-5px);
}
.dropdown:hover{
    color: #999999;
}
button{
    background-color: #eccfab;
    border-color: orangered;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    font-weight: bold;
    color: orangered;
}

.container{
    position: relative;
    text-align: center;
}
.bgheader{
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: left;
    font-size: 50px;
    color: white;
}

/* sectionOne Style */
main{
    padding-left: 100px;
    padding-right: 100px;
}
.imgOne{
    position: relative;

}
.imgTwo{
    position: absolute;
    left: 300px;
    top: 1300px;
}
.sectionOne{
    display: flex;
    justify-content: space-around;
    gap: 300px;
    padding-top: 100px;
    padding-bottom: 300px;
  
}
.secOnepara{
    width: 800px;
}
.heading{
    color: #166484;
    font-style: calc();
    font-size: 30px;
}
.para{
    font-style: oblique;
}

/* section two */
.secTwo{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   text-align: center;
}
.card{
    background-color: #ffffff;
    width: 440px;
    border-radius: 8px;
}
.cardContainer{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.card:hover{
    transform: translateY(-20px);
    background-image: linear-gradient(to right, #999999, #454545);
}
/* img hover */

/* section three */
.cardSec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}
.service{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    
}
#btnId{
    width: 200px;
    background-color: transparent;
    border-style: double;
    border-color: #166484;
    color: #166484;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    color: orangered;
    height: 200px;
   
}
.footer_one{
    display: flex;
    align-items: center;
}
.footer_two{
    display: flex;
    align-items: center;
}
/* -------------------------------------------------- SERVE PAGE -----------------------------------------------*/
.serveHeading{
    display: flex;
    justify-content: space-between;
}
#servepara{
    background-color: #166484;
    width: 700px;
    height: 50px;
    align-content: center;
    border-radius: 30px;
    color: #DFF2F9;
    font-size: 20px;
    padding-left: 20px;
}
#serveHead{
    color: #166484;
    font-size: 20px;

}
.serveUl{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* margin-left: 200px; */
    gap: 100px;
   
    
    
}
.newUL{
    background-color: #166484;
    width: 300px;
    height: 300px;
    align-content: center;
    /* border-radius: 30px; */
    color: #DFF2F9;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
    border-style:solid ;
    font-size: 30px;
 
}
.serveContainer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;

}
.link{
    text-decoration: none;
    color: inherit ;
}

/* --------------------------------Contact-------------------- */
.contactContainer{
    display: flex;
}
.profileClass{
    margin-top: 150px;
}

/* -----------------------BLOG------------------------ */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .blogImg:hover{
    transform: translateY(-20px);
    background-image: linear-gradient(to right, #999999, #454545);
    transform: scale(1.5);
  }

  /* ------------LOG IN------- */
  .loginMain{
    display: flex;
    justify-content: space-around;
  }
  .loginUser{
    display: grid;
  }
  label{
    color: #166484;
    margin-top: 50px;
    font-size: 20px;
  }
input{
    width: 500px;
    border-radius: 20px;
}


/* Store card */
.storeCard{
    width: 405px;
    height: 400px;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
   
}
.storeContainer{
    display: grid;
    text-align: center;
    color: orangered;
}
.fruit_basket{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}